<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Es Hora</title>
</head>
<body>
    <div>
        <h1>Es la hora</h1>
    </div>
    <hr>
    <input type="time" name="txtTime" id="txtTime" >

    <input type="button" onclick="setTime();" value="Fijar tiempo">


<hr>

<p id="resultado"></p>


<script src="../Model/timer.js"></script>
<script src="../Viewmodel/control.js"></script>
<script src="javascript/index.js"></script>
</body>
</html>