<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <h1>Notas</h1>
    
    <textarea name="txtArea" id="txtNota" cols="30" rows="10"></textarea>
    <hr>    
    <input type="button" value="AGREGAR NOTA" onclick="addAlement();">  
    <hr>
    <ul id="Bloquelista"> 
    
        

    </ul>

    <script src="../Models/information.js"></script>
    <script src="../ViewModel/control.js"></script>
    <script src="javascript/app.js"></script>

</body>
</html>